# Sklearn-Benchmark Data Summary

In [ ]:
# Include the library

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

Next I made sure I can access all the files in the folder as give below,

In [60]:
for fn in os.listdir('.'):
    if os.path.isfile(fn):
        print (fn)

adult.csv.gz
agaricus-lepiota.csv.gz
allbp.csv.gz
allhyper.csv.gz
allhypo.csv.gz
allrep.csv.gz
analcatdata_aids.csv.gz
analcatdata_asbestos.csv.gz
analcatdata_authorship.csv.gz
analcatdata_bankruptcy.csv.gz
analcatdata_boxing1.csv.gz
analcatdata_boxing2.csv.gz
analcatdata_creditscore.csv.gz
analcatdata_cyyoung8092.csv.gz
analcatdata_cyyoung9302.csv.gz
analcatdata_dmft.csv.gz
analcatdata_donner.csv.gz
analcatdata_fraud.csv.gz
analcatdata_germangss.csv.gz
analcatdata_happiness.csv.gz
analcatdata_japansolvent.csv.gz
analcatdata_lawsuit.csv.gz
analcatdata_mapleleafs.csv.gz
ann-thyroid.csv.gz
australian.csv.gz
auto.csv.gz
backache.csv.gz
balance-scale.csv.gz
Benchmark_Dataset_Characteristics_Summary.csv
biomed.csv.gz
breast-cancer-wisconsin.csv.gz
breast-cancer.csv.gz
breast-w.csv.gz
breast.csv.gz
buggyCrx.csv.gz
calendarDOW.csv.gz
car-evaluation.csv.gz
car.csv.gz
cars.csv.gz
cars1.csv.gz
chess.csv.gz
churn.csv.gz
cifar-10.csv.gz
cifar-100-coarse.csv.gz
cifar-100-fine.csv.gz
clean1.csv.gz
clean2.csv.gz
cleve.csv.gz
cleveland-nominal.csv.gz
cleveland.csv.gz
cloud.csv.gz
cmc.csv.gz
colic.csv.gz
collins.csv.gz
confidence.csv.gz
connect-4.csv.gz
corral.csv.gz
credit-a.csv.gz
credit-g.csv.gz
crx.csv.gz
Data Summary File.ipynb
dermatology.csv.gz
diabetes.csv.gz
dis.csv.gz
dna.csv.gz
ecoli.csv.gz
flags.csv.gz
flare.csv.gz
GAMETES-easy-4x2-way_her-0.4_pop-1600_attribs-100_discrete.csv.gz
GAMETES-hard-4x2-way_her-0.1_pop-200_attribs-100_discrete.csv.gz
GAMETES_Epistasis_2-Way_1000atts_0.4H_EDM-1_EDM-1_1.csv.gz
GAMETES_Epistasis_2-Way_20atts_0.1H_EDM-1_1.csv.gz
GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.csv.gz
GAMETES_Epistasis_3-Way_20atts_0.2H_EDM-1_1.csv.gz
GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM-2_001.csv.gz
GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM-2_001.csv.gz
german.csv.gz
glass.csv.gz
glass2.csv.gz
haberman.csv.gz
hayes-roth.csv.gz
heart-c.csv.gz
heart-h.csv.gz
heart-statlog.csv.gz
hepatitis.csv.gz
Hill_Valley_without_noise.csv.gz
Hill_Valley_with_noise.csv.gz
horse-colic.csv.gz
house-votes-84.csv.gz
hungarian.csv.gz
hypothyroid.csv.gz
ionosphere.csv.gz
iris.csv.gz
irish.csv.gz
kr-vs-kp.csv.gz
krkopt.csv.gz
labor.csv.gz
led24.csv.gz
led7.csv.gz
letter.csv.gz
liver-disorder.csv.gz
lupus.csv.gz
mfeat-factors.csv.gz
mfeat-fourier.csv.gz
mfeat-karhunen.csv.gz
mfeat-morphological.csv.gz
mfeat-pixel.csv.gz
mfeat-zernike.csv.gz
mnist.csv.gz
mofn-3-7-10.csv.gz
molecular-biology_promoters.csv.gz
monk1.csv.gz
monk2.csv.gz
monk3.csv.gz
mushroom.csv.gz
mux6.csv.gz
new-thyroid.csv.gz
nursery.csv.gz
optdigits.csv.gz
page-blocks.csv.gz
parity5+5.csv.gz
parity5.csv.gz
pendigits.csv.gz
pima.csv.gz
postoperative-patient-data.csv.gz
prnn_crabs.csv.gz
prnn_fglass.csv.gz
prnn_synth.csv.gz
profb.csv.gz
promoters.csv.gz
rand20.csv.gz
rand20cont.csv.gz
sat.csv.gz
satimage.csv.gz
schizo.csv.gz
segmentation.csv.gz
shuttle.csv.gz
sick-euthyroid.csv.gz
sleep.csv.gz
solar-flare_1.csv.gz
solar-flare_2.csv.gz
sonar.csv.gz
soybean.csv.gz
spambase.csv.gz
spect.csv.gz
spectf.csv.gz
splice.csv.gz
tae.csv.gz
threeOf9.csv.gz
tic-tac-toe.csv.gz
tokyo1.csv.gz
vehicle.csv.gz
vote.csv.gz
vowel.csv.gz
waveform-21.csv.gz
waveform-40.csv.gz
wine-quality-red.csv.gz
wine-quality-white.csv.gz
wine-recognition.csv.gz
wine.csv.gz
xd6.csv.gz
yeast.csv.gz

Next I get the dataframe called Data which essentially contains the names of the files, the dimension of each file- to be interpreted as number of observations to numberof features and the data type of the variables present in each file.

In [62]:
dataframe=[]

In [63]:
for fn in os.listdir('.'):
    if os.path.isfile(fn):
        benchmark_data = pd.read_csv(fn, sep='\t')
        dataframe.append({'Dataset Name': fn, 'Dataset Dimension': benchmark_data.shape, 'Dataset Variables Type':
        benchmark_data.dtypes, 'Number of features': len(benchmark_data.columns)})

In [64]:
Data=pd.DataFrame(dataframe)    
Data

,Dataset Dimension,Dataset Name,Dataset Variables Type,Number of features
0,"(48842, 15)",adult.csv.gz,age float64 workclass ...,15
1,"(8145, 23)",agaricus-lepiota.csv.gz,cap-shape int64 cap-surface ...,23
2,"(3772, 30)",allbp.csv.gz,age int64 sex ...,30
3,"(3771, 30)",allhyper.csv.gz,age int64 sex ...,30
4,"(3770, 30)",allhypo.csv.gz,age int64 sex ...,30
5,"(3772, 30)",allrep.csv.gz,age int64 sex ...,30
6,"(50, 5)",analcatdata_aids.csv.gz,Age int64 Race int64 AIDS flo...,5
7,"(83, 4)",analcatdata_asbestos.csv.gz,Ventilation int64 Duration float64 ...,4
8,"(841, 71)",analcatdata_authorship.csv.gz,a float64 all float64 also ...,71
9,"(50, 7)",analcatdata_bankruptcy.csv.gz,Company int64 WC/TA float64 RE/TA ...,7
10,"(120, 4)",analcatdata_boxing1.csv.gz,Judge int64 Official int64 Round ...,4
11,"(132, 4)",analcatdata_boxing2.csv.gz,Judge int64 Official int64 Round ...,4
12,"(100, 7)",analcatdata_creditscore.csv.gz,Age float64 Income.per....,7
13,"(97, 11)",analcatdata_cyyoung8092.csv.gz,Year float64 Pitcher ...,11
14,"(92, 11)",analcatdata_cyyoung9302.csv.gz,Year int64 Pitcher ...,11
15,"(797, 5)",analcatdata_dmft.csv.gz,DMFT.Begin int64 DMFT.End int64 Gender...,5
16,"(28, 4)",analcatdata_donner.csv.gz,Gender int64 Age int64 Count int6...,4
17,"(42, 12)",analcatdata_fraud.csv.gz,AC1 int64 AC9 int64 AC16 int64 C...,12
18,"(400, 6)",analcatdata_germangss.csv.gz,Age int64 Time_of_survey ...,6
19,"(60, 4)",analcatdata_happiness.csv.gz,Years_of_schooling int64 Siblings ...,4
20,"(52, 10)",analcatdata_japansolvent.csv.gz,Firm int64 EBIT/TA float64 NI...,10
21,"(264, 5)",analcatdata_lawsuit.csv.gz,Length.of.service float64 CAP ...,5
22,"(84, 2)",analcatdata_mapleleafs.csv.gz,Site int64 class int64 dtype: object,2
23,"(7200, 22)",ann-thyroid.csv.gz,A1 float64 A2 int64 A3 i...,22
24,"(690, 15)",australian.csv.gz,A1 int64 A2 float64 A3 flo...,15
25,"(202, 26)",auto.csv.gz,normalized-losses int64 make ...,26
26,"(180, 33)",backache.csv.gz,id float64 col_2 int64 col_3 ...,33
27,"(625, 5)",balance-scale.csv.gz,Left-Weight int64 Left-Distance int6...,5
28,"(3764, 1)",Benchmark_Dataset_Characteristics_Summary.csv,",Data Set Dimension,Data set variables type,Da...",1
29,"(209, 9)",biomed.csv.gz,Observation_number ...,9
...,...,...,...,...
132,"(6435, 37)",sat.csv.gz,0 int64 1 int64 2 int64 3...,37
133,"(6435, 37)",satimage.csv.gz,A1 float64 A2 float64 A3 flo...,37
134,"(340, 15)",schizo.csv.gz,ID float64 target in...,15
135,"(2310, 20)",segmentation.csv.gz,region-centroid-col float64 region-centroi...,20
136,"(58000, 10)",shuttle.csv.gz,A1 float64 A2 float64 A3 flo...,10
137,"(3163, 26)",sick-euthyroid.csv.gz,age int64 sex ...,26
138,"(105908, 14)",sleep.csv.gz,V0 float64 V1 float64 V2 flo...,14
139,"(315, 13)",solar-flare_1.csv.gz,largest_spot_size in...,13
140,"(1066, 13)",solar-flare_2.csv.gz,largest_spot_size in...,13
141,"(208, 61)",sonar.csv.gz,A1 float64 A2 float64 A3 flo...,61
142,"(675, 36)",soybean.csv.gz,date int64 plant-stand in...,36
143,"(4601, 58)",spambase.csv.gz,0 float64 1 float64 2 flo...,58
144,"(267, 23)",spect.csv.gz,F1 int64 F2 int64 F3 int64 F...,23
145,"(349, 45)",spectf.csv.gz,F1R float64 F1S float64 F2R flo...,45
146,"(3188, 61)",splice.csv.gz,A0 int64 A1 int64 A2 int64 A...,61
147,"(151, 6)",tae.csv.gz,Whether_of_not_the_TA_is_a_native_English_spea...,6
148,"(512, 10)",threeOf9.csv.gz,F1 int64 F2 int64 F3 int64 F...,10
149,"(958, 10)",tic-tac-toe.csv.gz,t1 int64 t2 int64 t3 int64 t...,10
150,"(959, 45)",tokyo1.csv.gz,cpu_avg_user float64 cpu_avg_sys ...,45
151,"(846, 19)",vehicle.csv.gz,COMPACTNESS float64 CIRCULARITY...,19
152,"(435, 17)",vote.csv.gz,handicapped infants int6...,17
153,"(990, 14)",vowel.csv.gz,Train or Test int64 Speaker Number ...,14
154,"(5000, 22)",waveform-21.csv.gz,X00 float64 X01 float64 X02 flo...,22
155,"(5000, 41)",waveform-40.csv.gz,X00 float64 X01 float64 X02 flo...,41
156,"(1599, 12)",wine-quality-red.csv.gz,fixed acidity float64 volatile acidi...,12
157,"(4893, 12)",wine-quality-white.csv.gz,fixed acidity float64 volatile acidi...,12
158,"(178, 14)",wine-recognition.csv.gz,class int64 1 float64 2 flo...,14
159,"(178, 14)",wine.csv.gz,c1 float64 c2 float64 c3 flo...,14
160,"(973, 10)",xd6.csv.gz,Attribute 1 int64 Attribute 2 int64 Attr...,10
161,"(1479, 9)",yeast.csv.gz,mcg float64 gvh float64 alm flo...,9

Export this file to be saved as a csv file to retain a copy

In [ ]:
Data.to_csv("E:\Perelman Research\sklearn-benchmark\DataSummary File.csv")

So as can be seen there are 162 files in total, but some of these are repeated. But the copies of each file are alphabetically arranged. So I compare the number of features in each of the consecutive file as an indicator for similar files (since the features would be the same). and create a list of those files.

Note: Perhaps comparing the datatypes of the files having the same number of features, in addition, would further indicate the redundancy

In [85]:
same=[]
for i in range(0, len(Data)-1): 
    if Data['Number of features'].loc[i] == Data['Number of features'].loc[i+1]:
        #if Data['Dataset Variables Type'].loc[i] == Data['Dataset Variables Type'].loc[i+1]:
        same.append(i)

Below shows that file number 2 is same as 3, 3 is same as 4, 4 is same as 5, 10 is same as 11 (with respect to the number of features). Crosschecking the dataframe confirms this observation.

In [88]:
same

[2,
 3,
 4,
 10,
 13,
 31,
 42,
 43,
 45,
 68,
 71,
 72,
 73,
 74,
 75,
 77,
 81,
 82,
 85,
 111,
 112,
 119,
 123,
 130,
 132,
 139,
 148,
 156,
 158]

Below are the redundant files that can be removed from the original dataframe

In [92]:
Remove=Data.ix[same]
Remove

,Dataset Dimension,Dataset Name,Dataset Variables Type,Number of features
2,"(3772, 30)",allbp.csv.gz,age int64 sex ...,30
3,"(3771, 30)",allhyper.csv.gz,age int64 sex ...,30
4,"(3770, 30)",allhypo.csv.gz,age int64 sex ...,30
10,"(120, 4)",analcatdata_boxing1.csv.gz,Judge int64 Official int64 Round ...,4
13,"(97, 11)",analcatdata_cyyoung8092.csv.gz,Year float64 Pitcher ...,11
31,"(286, 10)",breast-cancer.csv.gz,age int64 menopause int64 tumo...,10
42,"(60000, 3073)",cifar-10.csv.gz,class int64 1 int64 2 int64 3...,3073
43,"(60000, 3073)",cifar-100-coarse.csv.gz,class int64 1 int64 2 int64 3...,3073
45,"(476, 169)",clean1.csv.gz,molecule_name int64 conformation_name...,169
68,"(200, 101)",GAMETES-easy-4x2-way_her-0.4_pop-1600_attribs-...,N0 int64 N1 int64 N2 int64 N...,101
71,"(1600, 21)",GAMETES_Epistasis_2-Way_20atts_0.1H_EDM-1_1.cs...,N0 int64 N1 int64 N2 int64 N...,21
72,"(1600, 21)",GAMETES_Epistasis_2-Way_20atts_0.4H_EDM-1_1.cs...,N0 int64 N1 int64 N2 int64 N...,21
73,"(1600, 21)",GAMETES_Epistasis_3-Way_20atts_0.2H_EDM-1_1.cs...,N0 int64 N1 int64 N2 int64 N...,21
74,"(1600, 21)",GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_...,N0 int64 N1 int64 N2 int64 N...,21
75,"(1600, 21)",GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_...,N0 int64 N1 int64 N2 int64 N...,21
77,"(205, 10)",glass.csv.gz,RI float64 Na float64 Mg flo...,10
81,"(303, 14)",heart-c.csv.gz,age float64 sex int64 cp ...,14
82,"(294, 14)",heart-h.csv.gz,age float64 sex int64 ch...,14
85,"(1212, 101)",Hill_Valley_without_noise.csv.gz,X1 float64 X2 float64 X3 flo...,101
111,"(556, 7)",monk1.csv.gz,Head shape int64 Body shape int64 Is...,7
112,"(601, 7)",monk2.csv.gz,attribute#1 int64 attribute#2 int64 attr...,7
119,"(5473, 11)",page-blocks.csv.gz,height float64 lenght float64 area ...,11
123,"(768, 9)",pima.csv.gz,Pregnant float64 plasma ...,9
130,"(3100, 21)",rand20.csv.gz,A00 int64 A01 int64 A02 int64 A...,21
132,"(6435, 37)",sat.csv.gz,0 int64 1 int64 2 int64 3...,37
139,"(315, 13)",solar-flare_1.csv.gz,largest_spot_size in...,13
148,"(512, 10)",threeOf9.csv.gz,F1 int64 F2 int64 F3 int64 F...,10
156,"(1599, 12)",wine-quality-red.csv.gz,fixed acidity float64 volatile acidi...,12
158,"(178, 14)",wine-recognition.csv.gz,class int64 1 float64 2 flo...,14

Below is thus then the dataframes that are not repeated. It has 133 files as compared to 162 which were in the folder

In [93]:
Data[~Data.isin(Remove)].dropna()

,Dataset Dimension,Dataset Name,Dataset Variables Type,Number of features
0,"(48842, 15)",adult.csv.gz,age float64 workclass ...,15.0
1,"(8145, 23)",agaricus-lepiota.csv.gz,cap-shape int64 cap-surface ...,23.0
5,"(3772, 30)",allrep.csv.gz,age int64 sex ...,30.0
6,"(50, 5)",analcatdata_aids.csv.gz,Age int64 Race int64 AIDS flo...,5.0
7,"(83, 4)",analcatdata_asbestos.csv.gz,Ventilation int64 Duration float64 ...,4.0
8,"(841, 71)",analcatdata_authorship.csv.gz,a float64 all float64 also ...,71.0
9,"(50, 7)",analcatdata_bankruptcy.csv.gz,Company int64 WC/TA float64 RE/TA ...,7.0
11,"(132, 4)",analcatdata_boxing2.csv.gz,Judge int64 Official int64 Round ...,4.0
12,"(100, 7)",analcatdata_creditscore.csv.gz,Age float64 Income.per....,7.0
14,"(92, 11)",analcatdata_cyyoung9302.csv.gz,Year int64 Pitcher ...,11.0
15,"(797, 5)",analcatdata_dmft.csv.gz,DMFT.Begin int64 DMFT.End int64 Gender...,5.0
16,"(28, 4)",analcatdata_donner.csv.gz,Gender int64 Age int64 Count int6...,4.0
17,"(42, 12)",analcatdata_fraud.csv.gz,AC1 int64 AC9 int64 AC16 int64 C...,12.0
18,"(400, 6)",analcatdata_germangss.csv.gz,Age int64 Time_of_survey ...,6.0
19,"(60, 4)",analcatdata_happiness.csv.gz,Years_of_schooling int64 Siblings ...,4.0
20,"(52, 10)",analcatdata_japansolvent.csv.gz,Firm int64 EBIT/TA float64 NI...,10.0
21,"(264, 5)",analcatdata_lawsuit.csv.gz,Length.of.service float64 CAP ...,5.0
22,"(84, 2)",analcatdata_mapleleafs.csv.gz,Site int64 class int64 dtype: object,2.0
23,"(7200, 22)",ann-thyroid.csv.gz,A1 float64 A2 int64 A3 i...,22.0
24,"(690, 15)",australian.csv.gz,A1 int64 A2 float64 A3 flo...,15.0
25,"(202, 26)",auto.csv.gz,normalized-losses int64 make ...,26.0
26,"(180, 33)",backache.csv.gz,id float64 col_2 int64 col_3 ...,33.0
27,"(625, 5)",balance-scale.csv.gz,Left-Weight int64 Left-Distance int6...,5.0
28,"(3764, 1)",Benchmark_Dataset_Characteristics_Summary.csv,",Data Set Dimension,Data set variables type,Da...",1.0
29,"(209, 9)",biomed.csv.gz,Observation_number ...,9.0
30,"(569, 31)",breast-cancer-wisconsin.csv.gz,class int64 2 float64 3 flo...,31.0
32,"(699, 10)",breast-w.csv.gz,Clump_Thickness float64 Cell_Size_Uni...,10.0
33,"(699, 11)",breast.csv.gz,Sample code number float64 Clump T...,11.0
34,"(690, 16)",buggyCrx.csv.gz,A1 int64 A2 int64 A3 flo...,16.0
35,"(399, 33)",calendarDOW.csv.gz,Feature00 int64 Feature01 int64 Feature0...,33.0
...,...,...,...,...
126,"(205, 10)",prnn_fglass.csv.gz,RI float64 Na float64 Mg flo...,10.0
127,"(250, 3)",prnn_synth.csv.gz,xs float64 ys float64 class i...,3.0
128,"(672, 10)",profb.csv.gz,Overtime int64 Favorite_Points ...,10.0
129,"(106, 59)",promoters.csv.gz,name int64 A3 int64 A4 int64 A...,59.0
131,"(3100, 21)",rand20cont.csv.gz,A00 float64 A01 float64 A02 flo...,21.0
133,"(6435, 37)",satimage.csv.gz,A1 float64 A2 float64 A3 flo...,37.0
134,"(340, 15)",schizo.csv.gz,ID float64 target in...,15.0
135,"(2310, 20)",segmentation.csv.gz,region-centroid-col float64 region-centroi...,20.0
136,"(58000, 10)",shuttle.csv.gz,A1 float64 A2 float64 A3 flo...,10.0
137,"(3163, 26)",sick-euthyroid.csv.gz,age int64 sex ...,26.0
138,"(105908, 14)",sleep.csv.gz,V0 float64 V1 float64 V2 flo...,14.0
140,"(1066, 13)",solar-flare_2.csv.gz,largest_spot_size in...,13.0
141,"(208, 61)",sonar.csv.gz,A1 float64 A2 float64 A3 flo...,61.0
142,"(675, 36)",soybean.csv.gz,date int64 plant-stand in...,36.0
143,"(4601, 58)",spambase.csv.gz,0 float64 1 float64 2 flo...,58.0
144,"(267, 23)",spect.csv.gz,F1 int64 F2 int64 F3 int64 F...,23.0
145,"(349, 45)",spectf.csv.gz,F1R float64 F1S float64 F2R flo...,45.0
146,"(3188, 61)",splice.csv.gz,A0 int64 A1 int64 A2 int64 A...,61.0
147,"(151, 6)",tae.csv.gz,Whether_of_not_the_TA_is_a_native_English_spea...,6.0
149,"(958, 10)",tic-tac-toe.csv.gz,t1 int64 t2 int64 t3 int64 t...,10.0
150,"(959, 45)",tokyo1.csv.gz,cpu_avg_user float64 cpu_avg_sys ...,45.0
151,"(846, 19)",vehicle.csv.gz,COMPACTNESS float64 CIRCULARITY...,19.0
152,"(435, 17)",vote.csv.gz,handicapped infants int6...,17.0
153,"(990, 14)",vowel.csv.gz,Train or Test int64 Speaker Number ...,14.0
154,"(5000, 22)",waveform-21.csv.gz,X00 float64 X01 float64 X02 flo...,22.0
155,"(5000, 41)",waveform-40.csv.gz,X00 float64 X01 float64 X02 flo...,41.0
157,"(4893, 12)",wine-quality-white.csv.gz,fixed acidity float64 volatile acidi...,12.0
159,"(178, 14)",wine.csv.gz,c1 float64 c2 float64 c3 flo...,14.0
160,"(973, 10)",xd6.csv.gz,Attribute 1 int64 Attribute 2 int64 Attr...,10.0
161,"(1479, 9)",yeast.csv.gz,mcg float64 gvh float64 alm flo...,9.0